* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Fonts*/
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "DM Sans", sans-serif;

    /* Theme colors */
    --background-light-mode: #FFFFFF;
    --background-dark-mode: #191919;
    --solid-heading-light-mode: #42446E;
    --solid-heading-dark-mode: #CCCCCC;
    --dark-content-light-mode: #666666;
    --light-content-dark-mode: #A7A7A7;
    --black-content-light-mode: #000000;
    --black-content-dark-mode: #FFFFFF;
    --contact-light-mode: #1E0E62;
    --contact-dark-mode: #f4f5f3;
    --border-color-light-mode: #ebeaed;
    --border-color-dark-mode: #42446e;
    --button-text: #018C0F;
    --button-success: #D7FFE0;

    /* gradient colors */
    --logo-gradient-start: #13B0F5;
    --logo-gradient-end: #CA24B4;
    --name-gradient-start: #25a5fa;
    --name-gradient-end: #a74afd;
    --border-gradient-start: #E70FAA;
    --border-gradient-end: #00C0FD;
    --contact-gradient-start: #13b0f5;
    --contact-gradient-end: #e70faa;
    --love-gradient-start: #9C27BA;
    --love-gradient-end: #A816B4;
    --coffee-gradient-start: #B106B1;
    --coffee-gradient-end: #C500A8;
}

.logo-gradient {
    background-image: var(--logo-gradient-start);
    background-image: -webkit-linear-gradient(to right, var(--logo-gradient-start), var(--logo-gradient-end));
    background-image: linear-gradient(to right, var(--logo-gradient-start), var(--logo-gradient-end));
}

.name-gradient {
    background-image: var(--name-gradient-start);
    background-image: -webkit-linear-gradient(to right, var(--name-gradient-start), var(--name-gradient-end));
    background-image: linear-gradient(to right, var(--name-gradient-start), var(--name-gradient-end));
}

.border-gradient {
    background: var(--border-gradient-start);
    background: -webkit-linear-gradient(to bottom, var(--border-gradient-start), var(--border-gradient-end));
    background: linear-gradient(to bottom, var(--border-gradient-start), var(--border-gradient-end));
}

.contact-gradient {
    background-image: var(--contact-gradient-start);
    background-image: -webkit-linear-gradient(to right, var(--contact-gradient-start) -2.06%, var(--contact-gradient-end) 100%);
    background-image: linear-gradient(to right, var(--contact-gradient-start) -2.06%, var(--contact-gradient-end) 100%);
}

.love-gradient {
    background-image: var(--love-gradient-start);
    background-image: -webkit-linear-gradient(to right, var(--love-gradient-start), var(--love-gradient-end));
    background-image: linear-gradient(to right, var(--love-gradient-start), var(--love-gradient-end));
}

.coffee-gradient {
    background-image: var(--coffee-gradient-start);
    background-image: -webkit-linear-gradient(to right, var(--coffee-gradient-start), var(--coffee-gradient-end));
    background-image: linear-gradient(to right, var(--coffee-gradient-start), var(--coffee-gradient-end));
}




.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.dm-sans-large {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.dm-sans-normal {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dm-sans-small {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
