@import url("./base.css");

/*** General Selectors ***/

html {
    scroll-padding-top: calc(24rem + 3svh);
    font-family: var(--primary-font);
    font-weight: 400;
    font-style: normal;
    font-size: calc(62.5% / 1.5);
}

h1 {
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 7.0rem;
    letter-spacing: -0.1rem;
}

h2 {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 5.2rem;
    letter-spacing: -0.04rem;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.6rem;
}

body {
    min-width: 35rem;
    margin: 3svh 12.5vw;
    padding: 0;
    text-align: left;
}

section>h2 {
    margin: 4.2rem 0;
}

.desktop-block {
    display: none;
}

.desktop-flex {
    display: none;
}

.mobile-block {
    display: block;
}

.mobile-flex {
    display: flex;
}

.icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

.gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

/*** Header ***/
header {
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
    height: fit-content;
    font-family: var(--secondary-font);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 2rem;
}

.profile-logo {
    flex: 1 1 15%;
}

#header-menu {
    flex: 1 1 70%;
    display: flex;
    flex-wrap: wrap;
}

.hamburger-menu {
    flex: 1 1 15%;
}

.menu-list {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
}

.menu-buttons {
    margin-block-start: 4rem;
    margin-block-end: 2rem;
}

.menu-buttons li {
    flex: 1 1 100%;
    flex-wrap: wrap;
}

.menu-buttons li a {
    padding: 0.25em 0.5em;
}

.menu-icons li {
    flex: 1;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    display: inline-block;
    text-decoration: none;
    text-wrap: nowrap;
    color: inherit;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.6rem;
    vertical-align: middle;
}

.menu-list li a:hover {
    color: var(--menu-hover);
}

.menu-icons img {
    width: 20px;
    height: auto;
    vertical-align: middle;
    filter: brightness(0%);
    /* => #000000*/
}

.hamburger-menu-icon {
    display: block;
    width: 5rem;
    height: auto;
    justify-self: center;
    align-self: start;
    margin-left: auto;
}

.nav-container>label {
    cursor: pointer;
}

#menu-toggle {
    display: none;
    /* hide the checkbox (only used for menu toggle) */
}

#header-menu {
    display: none;
}

#menu-toggle:checked+#header-menu {
    display: flex;
}

/*** Introduction Section ***/

.introduction-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.introduction-textbox {
    font-weight: bold;
    text-align: left;
}

.introduction-textbox>h1 {
    margin: 0.6rem 0;
    font-size: 5.8rem;
}

.gradient-border-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 34.9rem;
    min-width: 34.9rem;
    height: 34.9rem;
    min-height: 34.9rem;
}

.profile-image {
    border-radius: 50%;
    width: 95%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*** About, Work Experience & Education Section ***/

#about {
    max-width: 100%;
}

.experiences-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.experience-container {
    width: 100%;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5em;
}

.experience-container > * {
    flex: 1 1 50%;
    overflow: hidden;
}

.experience-container>*:last-child {
    padding-bottom: 1em;
}

.experience-container>.role {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0.1rem;
}

.experience-container div {
    display: flex;
    justify-content: flex-end;
}

.experience-container div>.job-type {
    width: 8.4rem;
    height: 2.4rem;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 2.6rem;
    color: var(--button-text);
    background-color: var(--button-success);
    border-radius: 10rem;
}

.experience-container>span {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.8rem;
    letter-spacing: 0.1rem;
}

.experience-container img {
    width: 1.6rem;
    height: 1.2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}


/*** Tech Stack Section ***/

#tech-stack>p {
    font-size: 2.0rem;
}

.tech-stack-container {
    width: 100%;
    margin: 10svh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7rem;
}

.tech-stack-img {
    width: 10rem;
    height: auto;
}

/*** Projects Section ***/

#projects>p {
    font-size: 2.0rem;
}

.project-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    margin: 7svh 0;
}

.project-card {
    width: 100%;
    height: auto;
    min-width: 50vw;
    border-radius: 2rem;
    box-shadow: var(--drop-shadow);
    transition: all 0.1s ease-in;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    overflow: hidden;
}

.project-card:hover {
    border: 3px solid rgb(77, 188, 224);
}

.project-card> :not(img) {
    padding: 0 2.5rem;
    padding-bottom: 1rem;
}

.project-card>img {
    flex: 53;
    display: block;
    width: 100%;
    object-fit: cover;
}

.project-card-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-title {
    flex: 20;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    text-align: left;
    text-wrap: nowrap;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 2.6rem;
}

.project-card-description {
    flex: 10;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.6rem;
}

.project-card-tech-stack {
    flex: 5;
    height: 10%;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.project-card-tech-stack span {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.6rem;
}

.project-card-footer-container {
    flex: 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
    padding-bottom: 2rem;
}

.project-card-footer-container a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.project-card-footer-container img {
    width: 2rem;
    height: auto;
    vertical-align: middle;
    margin-right: 1rem;
}

/*** Contact Section ***/

#contact {
    width: 100%;
    height: 70svh;
}

.contact-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
    font-family: var(--secondary-font);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 7rem;
    letter-spacing: -1px;
}

.contact-container>h2 {
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: -1px;
}

.contact-container>p {
    font-size: 2rem;
    font-weight: 500;
}

.contact-container .mobile-block.contact-questions {
    font-size: 3rem;
    line-height: 6rem;
}

/*** Footer ***/

.footer {
    text-align: center;
    margin: 3rem 0;
}

/*** Media Queries ***/

/* On screens that are 600px to 1200px (Tablets & Medium Desktops) */
@media only screen and (min-width: 600px) {

    html {
        font-size: calc(62.5% / 1.25);
        scroll-padding-top: calc(5.9rem + 3svh);
    }

    .profile-logo {
        flex: 1 1 15%;
    }

    .hamburger-menu {
        flex: 1 1 0%;
    }

    #header-menu {
        flex: 1 1 85%;
        display: flex;
        flex-wrap: wrap;
    }

    .menu-buttons {
        margin-block-start: 0rem;
    }

    .menu-buttons li {
        flex: 1 1 33.33%;
    }

    .menu-buttons li a {
        padding: 0.5em 1em;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.6rem;
    }

    .menu-icons {
        padding: 0 1rem;
        width: 40%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0rem;
    }

    .menu-icons img {
        width: 30px;
        height: auto;
        filter: unset;
        /* => #666666*/
    }

    .hamburger-menu-icon {
        display: none;
    }

    #header-menu {
        display: flex;
    }

    .introduction-container {
        width: 75%;
    }

    #about {
        max-width: 710px;
    }

    .experience-container :nth-child(1) {
        order: 1;
    }

    .experience-container :nth-child(2) {
        order: 2;
    }

    .experience-container :nth-child(3) {
        flex: 1 1 50%;
        order: 3;
    }

    .experience-container :nth-child(4) {
        flex: 1 1 30%;
        order: 5;
    }

    .experience-container :nth-child(5) {
        flex: 1 1 20%;
        order: 4;
    }

    .experience-container>.location {
        text-align: left;
    }

    .project-card {
        width: 37.3rem;
        height: 56.7rem;
        min-width: 37.3rem;
        min-height: 56.7rem;
        border-radius: 1rem;
        box-shadow: 0.2rem 0.2rem 0.4rem 0.2rem rgba(189, 188, 188, 0.5);
    }

    .project-card-title {
        text-align: center;
    }

    .project-card-description {
        flex: 23;
    }

    .project-card-tech-stack {
        font-weight: 400;
    }

    .contact-container>h2 {
        font-size: 5.8rem;
        line-height: 7rem;
        letter-spacing: -1px;
    }

    .contact-container>p {
        font-size: 3rem;
        font-weight: 500;
    }

    .desktop-block {
        display: block;
    }

    .desktop-flex {
        display: flex;
    }

    .mobile-block {
        display: none;
    }

    .mobile-flex {
        display: none;
    }
}

/* On screens that are 1200px or more (Large Desktops) */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 62.5%;
        scroll-padding-top: calc(5.9rem + 3svh);
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
    }

    .profile-logo {
        flex: 1 1 15%;
        justify-content: flex-start;
        margin-right: auto;
    }

    #header-menu {
        flex: 1 1 85%;
        flex-wrap: nowrap;
    }

    .hamburger-menu {
        flex: 1 1 0%;
    }

    .menu-buttons {
        flex: 1 1 80%;
        display: flex;
        justify-content: flex-end;
        column-gap: 1.0em;
        flex-wrap: nowrap;
        align-items: center;
        margin-block-end: 0;
    }

    .menu-icons {
        flex: 1 1 20%;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .menu-buttons li {
        flex: unset;
        display: flex;
        justify-content: space-around;
    }

    .menu-buttons li:first-child {
        margin-left: auto;
    }

    .menu-buttons li a {
        padding: 0.25em 0.5em;
    }

    .menu-icons li {
        flex: 1;
    }

    .profile-logo {
        margin-right: auto;
    }

    .introduction-container {
        width: 50%;
    }
}

/* Light Theme */
@media (prefers-color-scheme: light) {
    html {
        background: var(--background-light-mode);
        color: var(--solid-heading-light-mode);
    }

    h1,
    h2 {
        color: var(--solid-heading-light-mode);
    }

    p {
        color: var(--dark-content-light-mode);
    }

    header,
    .nav-container {
        background-color: var(--background-light-mode);
        color: var(--black-content-light-mode);
    }

    .menu-list li a {
        color: var(--black-content-light-mode);
    }

    .experience-container {
        border-bottom: 0.2rem solid var(--border-color-light-mode);
    }

    .experience-container * {
        color: var(--light-content-dark-mode);
    }

    .experience-container>.role {
        color: var(--dark-content-light-mode);
    }

    .project-card {
        background-color: var(--background-light-mode);
    }

    .project-card * {
        color: var(--black-content-light-mode);
    }

    .project-card-description,
    .project-card-tech-stack {
        color: var(--dark-content-light-mode);
    }

    .project-card-tech-stack>span {
        color: var(--dark-content-light-mode);
    }

    .contact-container .mobile-block.contact-questions {
        color: var(--black-content-light-mode);
    }

    .contact-container .desktop-block.contact-questions {
        color: var(--contact-light-mode);
    }

    .light-inline-block {
        display: inline-block;
    }

    .light-block {
        display: block;
    }

    .dark-inline-block {
        display: none;
    }

    .dark-block {
        display: none;
    }
}

/* On screens that are less than 601px (Mobile), we needed to override Light Theme above */
@media only screen and (max-width: 600px) {
    .project-card-tech-stack {
        color: var(--black-content-light-mode);
    }
}

/* On screens that larger than 601px (Tablets & Desktops), we needed to override Light Theme above */
@media only screen and (min-width: 601px) {
    .menu-list li a {
        color: var(--dark-content-light-mode);
    }
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--background-dark-mode);
        color: var(--solid-heading-dark-mode);
    }

    h1,
    h2 {
        color: var(--solid-heading-dark-mode);
    }

    p {
        color: var(--light-content-dark-mode);
    }

    header,
    .nav-container {
        background-color: var(--background-dark-mode);
        color: var(--light-content-dark-mode);
    }

    .menu-list li a {
        color: var(--light-content-dark-mode);
    }

    #header-menu .menu-icons img {
        filter: invert(100%) brightness(109%);
        /* => #A7A7A7*/
    }

    .nav-container .dark-mode-invert img {
        filter: invert(100%);
    }

    .experience-container {
        border-bottom: 0.2rem solid var(--border-color-dark-mode);
    }

    .experience-container * {
        color: var(--light-content-dark-mode);
    }

    .experience-container>.role {
        color: var(--solid-heading-dark-mode);
    }

    .project-card {
        background-color: var(--background-card-dark-mode);
    }

    .project-card * {
        color: var(--solid-heading-dark-mode);
    }

    .project-card-footer-container * {
        color: var(--black-content-dark-mode);
    }

    .contact-container .contact-questions {
        color: var(--contact-dark-mode);
    }

    .light-inline-block {
        display: none;
    }

    .light-block {
        display: none;
    }

    .dark-inline-block {
        display: inline-block;
    }

    .dark-block {
        display: block;
    }
}