@import url("./base.css");

/*** General Selectors ***/
:root {
    /* Local Styles */
    --local-solid-heading-light-mode: #42446E;
    --local-solid-heading-dark-mode: #CCCCCC;
    --local-light-content-dark-mode: #A7A7A7;
    --local-dark-content-light-mode: #666666;
    --local-dark-mode: #191919;
    --local-button-text: #018C0F;
    --local-button-success: #D7FFE0;
    --text-alignment-primary: left;
    --text-alignment-secondary: center;
    --icon-black-fill-dark-mode: #000000;
    --icon-white-fill-dark-mode: #FFFFFF;
    --experience-light-content-light-mode: #A7A7A7;
    --experience-dark-content-light-mode: #666666;
    --experience-light-content-dark-mode: #CCCCCC;
    --experience-dark-content-dark-mode: #FFFFFF;
    --header-gray-color-dark-mode: #A7A7A7;
    --header-gray-color-light-mode: #666666;
    --card-gray-color-light-mode: #666666;
    --card-black-color-light-mode: #000000;
    --card-gray-color-dark-mode: #CCCCCC;
    --card-white-color-dark-mode: #FFFFFF;
}


html {
    scroll-padding-top: calc(50px + 5svh);
    font-family: var(--primary-font);
    font-weight: 400;
    font-style: normal;
    font-size: 62.5%;
}

h1 {
    font-size: 5.8rem;
}

h2 {
    font-size: 4.8rem;
}

p {
    font-size: 3.2rem;
}

body {
    min-width: 350px;
    margin: 3svh 5vw;
    padding: 0;
    text-align: var(--text-alignment-primary);
}

header {
    padding: 0 4vw;
    background-color: var(--primary-background-light-mode);
    font-family: var(--secondary-font);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

section {
    margin-top: 20svh;
}

hr {
    height: 2px;
    border: none;
}

.desktop-block {
    display: block;
}
.mobile-block {
    display: block;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;    
}

/*** Header ***/
header {
    width: 100%;
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 0;
    height: fit-content;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.first-flexbox-item {
    margin: 0;
    margin-right: auto;
}

#header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.row-menu-list {
    padding-inline-start: 0px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.row-menu-icons {
    padding-inline-start: 0px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    width: stretch;
    margin-left: 20px;
}

#header-menu .row-menu-icons img {
    filter: invert(50%);
}

.row-menu-list li {
    list-style: none;
}

.row-menu-list li a {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.6rem;
}

.row-menu-list li a:hover {
    color: rgb(84, 196, 248);
}

.row-menu-list li a {
    display: inline-block;
    padding: 4px 10px;
    text-decoration: none;
    text-wrap: nowrap;
    color: inherit;
}

.hamburger-menu-icon {
    display: none;
    width: 50px;
    height: auto;
}

.nav-container > label {
    cursor: pointer;
}

#menu-toggle {
    display: none; /* hide the checkbox (only used for menu toggle) */
}

#header-menu {
    display: none;
}

#menu-toggle:not(:checked)+#header-menu {
    display: flex;
}

/*** Introduction Section ***/

.introduction-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.introduction-textbox {
    font-weight: bold;
    text-align: left;
}

.introduction-textbox > h1 {
    margin: 6px 0;
    font-size: 5.8rem;
}

.gradient-border-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 349px;
    min-width: 349px;
    height: 349;
    min-height: 349px;
}

.profile-image {
    border-radius: 50%;
    width: 95%;
    aspect-ratio: 1/1;
    object-fit: cover;   
}

/*** Work Experience & Education Section ***/
.experiences-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.experience-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1em;
    padding-bottom: 1em;
    gap: 5px;
}

.experience-role {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-role > .role {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 1;
}

.experience-role > .job-type {
    width: 8.4rem;
    height: 2.4rem;
    font-size: 9px;
    font-weight: 600;
    line-height: 26px;
    color: var(--local-button-text);
    background-color: var(--local-button-success);
    border-radius: 100px;
    text-align: center;
}

.experience-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-info > p, .experience-container > .location {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.8rem;
    letter-spacing: 1;
    text-align: left;
}

.experience-info img {
    width: 16px;
    height: 12px;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.experience-info > .provider {
    flex: 3;
}

.experience-info > .location {
    flex: 4;
}

.experience-info > .date {
    flex: 3;
    text-align: right;
}


/*** Tech Stack Section ***/

.tech-stack-container {
    width: 100%;
    margin: 10svh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3vh;
}

.tech-stack-img {
    width: 100px;
    height: auto;
}

/*** Projects Section ***/

.project-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 7svh 0;
}

.project-card {
    width: 373px;
    min-width: 373px;
    height: 567px;
    min-height: 567px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 2px rgba(189, 188, 188, 0.5);
    overflow: hidden;
    transition: all 0.1s ease-in;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.project-card:hover {
    border: 3px solid rgb(77, 188, 224);
    box-shadow: 0px 0px 4px 2px rgba(189, 188, 188, 0.5);
}

.project-card > :not(img) {
    padding: 0 2.5rem;
}

.project-card-image {
    flex: 40;
    display: block;
    width: 100%;
    object-fit: cover;
}

.project-card-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-title {
    flex: 20;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: var(--text-alignment-secondary);
    text-wrap: nowrap;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 2.6rem;
}

.project-card-description {
    flex: 25;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.6rem;
}

.project-card-tech-stack {
    flex: 5;
    height: 10%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.project-card-tech-stack span {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.6rem;
}

.project-card-footer-container {
    flex: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
}

.project-card-icon {
    display: inline-block;
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 1rem;
}

.project-card-footer-container a {
    font-size: 1.6rem;
}

/*** Contact Section ***/

#contact {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
    font-family: var(--secondary-font);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 5.8rem;
}

.contact-container p {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 3rem;
}

.contact-container .row-menu-icons img {
    filter: invert(27%);
}

.contact-container .contact-questions {
    font-family: var(--secondary-font);
    font-size: 4rem;
    line-height: 8rem;
}

.contact-container .gradient-text {
    font-family: var(--secondary-font);
    font-size: 5rem;
}

/*** Footer ***/

.footer {
    margin: 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: 1.8rem;
}

.footer ul {
    font-family: var(--secondary-font);
    font-weight: 400;
    line-height: 2.6rem;
    font-size: 1.8rem;
}

.footer-span {
    margin-left: auto;
    margin-right: 11px;
}

/*** Media Queries ***/

/* On screens that are 600px or less */
@media only screen and (max-width: 600px)  { 
    :root {
        --text-alignment-secondary: left;
    }

    header {
        height: 280px;
    }

    html {
        scroll-padding-top: calc(280px + 3svh);
        font-size: calc(62.5% / 2);
    }

    .nav-container {
        align-items: flex-start;
    }

    .first-flexbox-item {
        margin: 0;
        margin-right: none;
    }

    #header-menu {
        width: 70%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-weight: bolder;
    }

    .row-menu-list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
        margin-block-start: 40px;
        margin-block-end: 0px;
    }

    .row-menu-list li a {
        font-weight: 600;
        font-size: 2.5rem;
    }

    .row-menu-icons {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin: 0;
    }

    .hamburger-menu-icon {
        display: block;
        justify-self: start end;
        align-self: start end;
        margin-left: auto;
    }

    .project-card {
        min-height: 400px;
        height: 400px;
    }

    .project-card-description {
        flex: 10;
    }

    .desktop-block {
        display: none;
    }

    .mobile-block {
        display: block;
    }

    .desktop-flex {
        display: none;
    }

    .mobile-flex {
        display: flex;
    }
}

/* On screens that are 600px or more */
@media only screen and (min-width: 600px)  {
    :root {
        --text-alignment-secondary: center;
    }

    .desktop-block {
        display: block;
    }

    .mobile-block {
        display: none;
    }

    .desktop-flex {
        display: flex;
    }

    .mobile-flex {
        display: none;
    }
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--primary-background-dark-mode);
        color: var(--primary-color-dark-mode);
    }

    h1, h2, h3 {
        color: var(--local-solid-heading-dark-mode);
    }

    p {
        color: var(--local-light-content-dark-mode);
    }

    header {
        background-color: var(--primary-background-dark-mode);
    }

    .row-menu-list li a {
        color:var(--header-gray-color-dark-mode);
    }

    header-menu .row-menu-icons img svg {
        fill: "var(--header-gray-color-dark-mode)";
    }

    #tech-stack img svg {
        fill: "var(--icon-white-fill-dark-mode)";
    }

    .experience-container {
        border-bottom: 2px solid var(--primary-border-color-dark-mode);
    }

    .experience-container * {
        color: var(--experience-light-content-dark-mode);
    }

    .experience-role .role {
        color: var(--experience-dark-content-dark-mode);
    }

    .tech-stack-container .dark-mode-target img {
        filter: invert(100%);
    }

    hr {
        background-color: var(--primary-border-color-dark-mode);
    }

    .project-card * {
        color: var(--card-gray-color-dark-mode);
    }

    .project-card-footer-container * {
        color: var(--card-white-color-dark-mode);
    }

    .project-card-footer-container img {
        filter: invert(100%);
    }
}

/* Light Theme */
@media (prefers-color-scheme: light) {
    html {
        background: var(--primary-background-light-mode);
        color: var(--primary-color-light-mode);
    }

    h1, h2, h3 {
        color: var(--local-solid-heading-light-mode);
    }

    p {
        color: var(--local-dark-content-light-mode);
    }

    header {
        background-color: var(--primary-background-light-mode);
    }

    .row-menu-list li a {
        color: var(--header-gray-color-light-mode);
    }

    header-menu .row-menu-icons img svg {
        fill: "var(--header-gray-color-light-mode)";
    }

    #tech-stack img svg {
        fill: "var(--icon-black-fill-light-mode)";
    }

    .experience-container {
        border-bottom: 2px solid var(--primary-border-color-light-mode);
    }

    .experience-container * {
        color: var(--experience-light-content-light-mode);
    }

    .experience-role .role {
        color: var(--experience-dark-content-light-mode);
    }

    hr {
        background-color: var(--primary-border-color-light-mode);
    }

    .project-card * {
        color: var(--card-black-color-light-mode);
    }

    .project-card-description, .project-card-tech-stack {
        color: var(--card-gray-color-light-mode);
    }
    
    .project-card-icon svg {
        fill: "var(--icon-black-fill-light-mode)";
    }
}

